force-app/main/default/flows/Advisory_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Impacted_Clients_by_Market_Event</name>
        <label>Get Impacted Clients by Market Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetImpactedClientsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>market_records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>marketEventName</name>
            <value>
                <elementReference>marketName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetImpactedClientsAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Market_Advisory_Message_1</name>
        <label>Market_Advisory_Message 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Market_Advisory_Message</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Client_Impact</name>
            <value>
                <elementReference>Loop_Impacted_Clients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Market_Event</name>
            <value>
                <elementReference>MarketRecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Market_Advisory_Message</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>advisorymessage</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Market_Advisory_Message_2</name>
        <label>Market_Advisory_Message 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Market_Advisory_Message</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Market_Event</name>
            <value>
                <elementReference>MarketRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Client_Impact</name>
            <value>
                <elementReference>Impacted_Clients_Profit</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Market_Advisory_Message</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>advisorymessage</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>allAdvisories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advisorymessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>separator</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>\n\n---\n\n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Impacted_Clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>allAdvisories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advisorymessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>separator</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>\n\n---\n\n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Impacted_Clients_Profit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Profit_Loss</name>
        <label>Profit/Loss</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientsImpacted.Estimated_Loss__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Impacted_Clients_Profit</targetReference>
            </connector>
            <label>Profit</label>
        </rules>
        <rules>
            <name>Loss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientsImpacted.Estimated_Profit__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Impacted_Clients</targetReference>
            </connector>
            <label>Loss</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Advisory Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advisory Flow</label>
    <loops>
        <name>Impacted_Clients_Profit</name>
        <label>Impacted Clients(Profit)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>impactedClients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Market_Advisory_Message_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Impacted_Clients</name>
        <label>Loop Impacted Clients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>impactedClients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Market_Advisory_Message_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_clients</name>
        <label>Get the clients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profit_Loss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketRecords.Id</elementReference>
            </value>
        </filters>
        <object>Client_Market_Impact__c</object>
        <outputReference>impactedClients</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estimated_Loss__c</queriedFields>
        <queriedFields>Impact_Type__c</queriedFields>
        <queriedFields>communication_Status__c</queriedFields>
        <queriedFields>Portfolio_Exposure__c</queriedFields>
        <queriedFields>Preferred_channel__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Estimated_Profit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>market_records</name>
        <label>market records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_clients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>marketName</elementReference>
            </value>
        </filters>
        <object>Market_Event__c</object>
        <outputReference>MarketRecords</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <queriedFields>Severity__c</queriedFields>
        <queriedFields>Trigger_Threshold__c</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <queriedFields>Share_Name__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Impacted_Clients_by_Market_Event</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>advisorymessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allAdvisories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Clients</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Market_Impact__c</objectType>
    </variables>
    <variables>
        <name>ClientsImpacted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Market_Impact__c</objectType>
    </variables>
    <variables>
        <name>impactedClients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Market_Impact__c</objectType>
    </variables>
    <variables>
        <name>MarketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>marketName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MarketRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Event__c</objectType>
    </variables>
    <variables>
        <name>separator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>  </stringValue>
        </value>
    </variables>
</Flow>
