force-app/main/default/flows/Client_market_impact_New_record_trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_market</name>
        <label>Check match share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Client_Market_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Holdings.Share_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Share_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Market_Impact</targetReference>
            </connector>
            <label>match found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Client market impact New record trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client market impact New record trigger</label>
    <loops>
        <name>Loop_Holdings</name>
        <label>Loop Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Securities_Holdings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_market</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Market_Impact</name>
        <label>Create Client Market Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Holdings</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Loop_Holdings.PrimaryOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Name__c</field>
            <value>
                <elementReference>Loop_Holdings.Share_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Market_Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Securities_Holdings</name>
        <label>Get Securities Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Holdings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Share_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSharename</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SecuritiesHolding</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Securities_Holdings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Share_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Market_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varSharename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
