force-app/main/default/flows/Portfolio_Summary_For_Client_Record_triggered_Flow_Account_all_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Down_Assign_New_Price</name>
        <label>Down Assign New Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_holding.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>priceIfDown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_holding.GainLoss</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Down_Gain_LossCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdatedHoldings_latest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_holding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_holding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Up_Assign_New_Price</name>
        <label>Up Assign New Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_holding.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>priceIfUp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_holding.GainLoss</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Up_Gain_LossCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>upVarUpdatedHoldings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_holding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_holding</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>holdingsDecision</name>
        <label>holdingsDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>get_holding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Share_Down</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_holding.Share_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Down</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Down_Assign_New_Price</targetReference>
            </connector>
            <label>Share Down</label>
        </rules>
        <rules>
            <name>Share_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Up_Assign_New_Price</targetReference>
            </connector>
            <label>Share Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Share_Match</name>
        <label>Share Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Holdings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Holdings.Share_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Share_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Market_Impact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Final With all changes</description>
    <environments>Default</environments>
    <formulas>
        <name>AcctName</name>
        <dataType>String</dataType>
        <expression>{!Loop_Holdings.PrimaryOwner.FirstName} &amp; &quot; &quot; &amp; {!Loop_Holdings.PrimaryOwner.LastName}</expression>
    </formulas>
    <formulas>
        <name>Down_Gain_LossCalculation</name>
        <dataType>Number</dataType>
        <expression>-({!get_holding.MarketValue}-({!get_holding.Price}*{!get_holding.Shares}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedLossFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
    {!Loop_Holdings.GainLoss} &lt; 0,
    {!Loop_Holdings.GainLoss},
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedProfitFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
    {!Loop_Holdings.GainLoss} &gt; 0,
    {!Loop_Holdings.GainLoss},
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmNewPrice</name>
        <dataType>Number</dataType>
        <expression>{!get_holding.Price}*({!$Record.Trigger_Threshold__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>price_Recalculation</name>
        <dataType>Currency</dataType>
        <expression>({!Loop_Holdings.Price}*{!$Record.Trigger_Threshold__c})/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>priceIfDown</name>
        <dataType>Number</dataType>
        <expression>{!get_holding.Price}- {!frmNewPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>priceIfUp</name>
        <dataType>Number</dataType>
        <expression>{!get_holding.Price}+ {!frmNewPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Up_Gain_LossCalculation</name>
        <dataType>Number</dataType>
        <expression>({!get_holding.Price}*{!get_holding.Shares})-{!get_holding.MarketValue}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Portfolio_Summary_For_Client Record triggered Flow Account all records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record triggered Flow Portfolio_Summary_For_Client real test with Est loss</label>
    <loops>
        <name>get_holding</name>
        <label>get holding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Security_Holdings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>holdingsDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Down_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Holdings</name>
        <label>Loop Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Security_Holdings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_Match</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Market_Impact</name>
        <label>Create Client Market Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Holdings</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Loop_Holdings.PrimaryOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Loop_Holdings.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Loss__c</field>
            <value>
                <elementReference>EstimatedLossFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Profit__c</field>
            <value>
                <elementReference>EstimatedProfitFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gain_Loss__c</field>
            <value>
                <elementReference>Loop_Holdings.GainLoss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact_Type__c</field>
            <value>
                <elementReference>$Record.Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Event_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AcctName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Exposure__c</field>
            <value>
                <elementReference>Loop_Holdings.MarketValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_channel__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Name__c</field>
            <value>
                <elementReference>Loop_Holdings.Share_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Market_Impact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Holdings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Holdings.PrimaryOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Security_Holdings</name>
        <label>Get Security Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_holding</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SecuritiesHolding</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Down_Update</name>
        <label>Down Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Up_Records_Update</targetReference>
        </connector>
        <inputReference>varUpdatedHoldings_latest</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Up_Records_Update</name>
        <label>Up Records Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <inputReference>upVarUpdatedHoldings</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Security_Holdings</targetReference>
        </connector>
        <object>Market_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LatestGain_Loss</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SecuritiesHolding</objectType>
    </variables>
    <variables>
        <name>upVarUpdatedHoldings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SecuritiesHolding</objectType>
    </variables>
    <variables>
        <name>varEventtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpdatedHoldings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SecuritiesHolding</objectType>
    </variables>
    <variables>
        <name>varUpdatedHoldings_latest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SecuritiesHolding</objectType>
    </variables>
</Flow>
