force-app/main/default/flows/Send_And_Log_Advisory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Advisory</name>
        <label>Send Email Advisory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mark_Communication_as_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Account_Details.PersonEmail</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00Xak00000fO5v0EAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>clientShareDetails.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>inputClientMarketImpactId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TestEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Advisory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Route_by_Channel</name>
        <label>Route by Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mark_Communication_as_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Log Only</defaultConnectorLabel>
        <rules>
            <name>Is_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPrimaryChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email</targetReference>
            </connector>
            <label>Is Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send_And_Log_Advisory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send_And_Log_Advisory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interaction_Summary</name>
        <label>Create Interaction Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>clientShareDetails.Preferred_channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>templateBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Market_Events.Name</elementReference>
            </value>
        </inputAssignments>
        <object>InteractionSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Market_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientShareDetails.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientShareDetails.Account__r.PersonContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Impact</name>
        <label>Get Client Impact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Share_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shareName</elementReference>
            </value>
        </filters>
        <object>Client_Market_Impact__c</object>
        <outputReference>clientShareDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Share_Name__c</queriedFields>
        <queriedFields>Portfolio_Exposure__c</queriedFields>
        <queriedFields>Estimated_Loss__c</queriedFields>
        <queriedFields>Estimated_Profit__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Events</name>
        <label>Get Market Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_by_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Share_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientShareDetails.Share_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Communication_as_Sent</name>
        <label>Mark Communication as Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_Interaction_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientMarketImpactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>communication_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Market_Impact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Interaction_Sent</name>
        <label>Mark Interaction Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Interaction_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sent_Interaction__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client_Impact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>templateBody</description>
        <name>templateBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_Account_Details.Name},
I hope this message finds you well. We wanted to inform you that recent market movements have impacted your holdings, particularly your exposure to {!clientShareDetails.Share_Name__c} This has contributed to an overall portfolio exposure of {!clientShareDetails.Portfolio_Exposure__c}% and an estimated impact of {!clientShareDetails.Estimated_Loss__c}. While such short-term fluctuations are a normal part of market cycles, it is important to review your portfolio to ensure it remains aligned with your long-term financial goals. I recommend scheduling a quick review to discuss potential strategies and any necessary adjustments.
Please let me know a convenient time to connect.
Warm regards,
Vikram
Your Wealth Manager</text>
    </textTemplates>
    <variables>
        <name>clientShareDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Market_Impact__c</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputClientMarketImpactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputGeneratedMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPrimaryChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interactionSummary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InteractionSummary</objectType>
    </variables>
    <variables>
        <name>outputStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>personEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shareName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAdvisoryMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
